.cart-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #D8CAB8;
    border-radius: 15px;
}

.cart-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cart-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-image {
    width: 50px;
    height: auto;
}

.cart-item-details {
    margin-left: 10px;
}

.cart-item-details p {
    margin: 0;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity input {
    width: 30px;
    margin-right: 5px;
}

.cart-item-remove {
    margin-left: auto;
}

.cart-total-price {
    margin-top: 20px;
}

.cart-bank-balance {
    margin-bottom: 20px;
}

.cart-purchase-button {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-purchase-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}