.job-application {
    text-align: center;
}

.job-application form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.job-application label {
    font-weight: bold;
    margin-bottom: 5px;
}

.job-application input {
    padding: 5px;
    margin-bottom: 10px;
}

.job-application button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.job-application button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.centre h1 {
    background-color: red;
    font-size: 36px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.paragraph {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.centre p {
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

.job-application-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}