nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 12px;
}

.logo {
    width: 850px;
    height: 130px;
}

.links {
    display: flex;
    gap: 300px;
    margin-top: 30px;
}

.links>a {
    color: white;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive;
    font-size: 40px;
}