.shop-container {
    margin: 20px;
}

.shop-item {
    margin-bottom: 15px;
    border-radius: 15px 50px 30px 5px;
    background: #908041;
    padding: 20px;
    width: 250px;
    height: 250px;
}

.shop-item p {
    margin: 5px 0;
}

.shop-item button {
    background-color: #976234;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item-image {
    height: 100px;
    width: 125px;
}